# Import Pandas

To use the Pandas library, you need to import it into your coding environment. For these exercises, our coding environment is this Jupyter notebook. Pandas is typically imported and named as "pd".

In [3]:
# import the pandas library and use the alias 'pd'
import pandas as pd

# Series

A series is a data type used by Pandas. It is like a one dimensional list, whose elements can be of any data type themselves.
Pandas contains a method, ``.Series()``, that initiates a series object from a Python list, tuple,

In [15]:
#create the s1 series from the list: [10,20,30,40,50]
s1=[10,20,30,40,50]
s1series=pd.DataFrame(s1)
print(s1)
print(s1series)
# additional practice
# create a series called s_tuple from the tuple: ("apple", "banana", "cherry")
tuple=["apple", "banana", "cherry"]
s_tuple=pd.DataFrame(tuple)
print(s_tuple)

# create a series called s_dictionary from the dictionary: {"brand": "Ford", "model": "Mustang", "year": 1964}
dict={
    "Ford",
    "Mustang",
     "1964"
}
s_dictionary=pd.DataFrame(dict, index=["brand", "model", "year"])
print(s_dictionary)

[10, 20, 30, 40, 50]
    0
0  10
1  20
2  30
3  40
4  50
        0
0   apple
1  banana
2  cherry
             0
brand  Mustang
model     1964
year      Ford

In [38]:
# fill in the blank with the series values and index values
print("The s1 series values are:", s1series)
print("The s1 index values are:",s1series.columns)
print("\n")
print("The s_tuple series values are:", s_tuple)
print("The s_tuple index values are:", s_tuple.columns)
print("\n")
print("The s_dictionary series values are:", s_dictionary)
print("The s_dictionary index values are:", s_dictionary.columns)

The s1 series values are:     0
0  10
1  20
2  30
3  40
4  50
The s1 index values are: RangeIndex(start=0, stop=1, step=1)


The s_tuple series values are:         0
0   apple
1  banana
2  cherry
The s_tuple index values are: RangeIndex(start=0, stop=1, step=1)


The s_dictionary series values are:              0
brand  Mustang
model     1964
year      Ford
The s_dictionary index values are: RangeIndex(start=0, stop=1, step=1)

Index values in a series are generated by default. We can also define custom indexes at the time of creating series.

Below is a series of marks (grades) and the associated subjects can be defined as custom row indexes.

In [83]:
# create the s2 series from the list [80,93,78,85,97] and with labeled indexes ['English','Science','Social','Tamil','Maths']
s2=[80,93,78,85,97]
s2series=pd.Series(s2, index=["English", "Science", "Social", "Tamil", "Maths"])

In [84]:
# print the s2 series
print(s2series)

English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

We can provide a name for the whole series, as well as a name for the indexes.

In [85]:
# assign the s2 series name to be "Student Marks"

# assign the s2 index name to be "Subject"
s2series.columns=["Student Marks"]
s2series.index.name="Subject"

In [86]:
# print the s2 series again to see the newly assigned name and index name
print(s2series)

Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

## Subsetting the Series

Values inside the series can be accessed using the ``[ ]`` square bracket slicing operation

- Series can be sliced using the default index
- Series can also be sliced using string indices (indexes)

In [71]:
# return the first element in the s2 series
subset=s2series.iloc[0]
print(subset)

Student Marks    80
Name: English, dtype: int64

In [76]:
# slicing using default integer index
# return the elements starting at position one and ending with the element at index 3
subset=s2series.iloc[1:4]
print(subset)

         Student Marks
Subject
Science             93
Social              78
Tamil               85

In [78]:
# Slicing using string index
# return the element associated with the index 'Tamil'
subset=s2series.loc["Tamil"]
print(subset)

Student Marks    85
Name: Tamil, dtype: int64

## Creating a Series from a Dictionary

- A Python dictionary is a data structure which maps keys to a set of values.
- A dictionary contains key-value pairs.
- A series is similar to a dictionary in a way that it maps given indexes to a set of values.

Let's see how to create a series from a dictionary

I have a dictionary that represents fruits and prices. Let's create a series from this dictionary

In [79]:
# create a dictionary of fruit names and their prices. Use the values from the article:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [81]:
# Lets convert this dictionary into a series
# use the pandas method .Series() 
dataseries=pd.Series(data)

In [82]:
# print the series
print(dataseries)

apples     [3, 2, 0, 1]
oranges    [0, 3, 7, 2]
dtype: object

In [92]:
# Slice the series and retrieve price of grapes
subset=dataseries.loc["apples"]
print(subset)

[3, 2, 0, 1]

# DataFrame

## Create a DataFrame from a Series object

Let's create a DataFrame from the marks series we created in the above step.

In [87]:
# create a dataframe from the s2 series
s2_df=pd.DataFrame(s2series)

In [88]:
# print the dataframe
print(s2_df)

          0
Subject
English  80
Science  93
Social   78
Tamil    85
Maths    97

## Create a DataFrame from a Dictionary

Let's say we have 2 series of heights and weights of the same set of persons and we want to put it together in a table.

Here we can create dictionary using both series and create a DataFrame using the Pandas ``.DataFrame()`` method.

In [96]:
# Create height series using [5.3, 6.2,5.8,5.0,5.5] for values, ['Person 1','Person 2','Person 3','Person 4','Person 5'] for indexes
data=[5.3,6.2,5.8,5.0,5.5]
hseries=pd.Series(data, index=["Person 1", "Person 2", "Person 3", "Person 4", "Person 5"])
print(hseries)
# Create weight series (in kgs) using [65,89,75,60,59] for values and the same indexes as height
data2=[65,89,75,60,59]
wseries=pd.Series(data2,index=["Person 1", "Person 2", "Person 3", "Person 4", "Person 5"])
print(wseries)

Person 1    5.3
Person 2    6.2
Person 3    5.8
Person 4    5.0
Person 5    5.5
dtype: float64
Person 1    65
Person 2    89
Person 3    75
Person 4    60
Person 5    59
dtype: int64

In [109]:
# Create a dataframe from the height and weight series above
dataframe=pd.DataFrame( wseries, index=["Person 1", "Person 2", "Person 3", "Person 4", "Person 5"])
dataframe.columns=["Height"]
dataframe["Weight"]=wseries
# print the dataframe
print(dataframe)

          Height  Weight
Person 1      65      65
Person 2      89      89
Person 3      75      75
Person 4      60      60
Person 5      59      59